body {
  margin: 0;
  padding: 0;
}

.homePage {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  padding-inline: 300px;
}

.container {
  height: 100%;
  display: flex;
}

.leftContainer {
  width: 600px;
  height: 100vh;
  padding: 0;
  min-height: 100%;
  overflow-y: scroll;
  border-inline: 1px solid rgba(80, 79, 79, 0.637);
  position: relative;
}

.rightContainer {
  width: 400px;
  max-height: 100vh;
  overflow-y: scroll;
  color: pink;
}
.topDiv {
  position: fixed;
  z-index: 99;
  width: 598px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000e9;
  background-blend-mode: saturation;
  border-bottom: 1px solid rgba(80, 79, 79, 0.637);
}
.leftContainer::-webkit-scrollbar {
  width: 0px;
}
.leftSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 270px;
  height: 100%;
  padding-right: 20px;
  color: white;
}
.leftSpan:hover {
  cursor: pointer;
  transition: 0.3s ease;
  background-color: rgba(128, 128, 128, 0.478);
}
.rightSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 270px;
  height: 100%;
  padding-right: 40px;
  color: white;
}
.rightSpan:hover {
  cursor: pointer;
  transition: 0.3s ease;
  background-color: rgba(128, 128, 128, 0.478);
}
.settings {
  width: 60px;
  text-align: center;
}
.settings > a {
  color: white;
  width: 70%;
  height: 100%;
  padding: 8px;
}
.settings > a:hover {
  transition: 0.5s ease;
  background-color: rgba(128, 128, 128, 0.19);
  border-radius: 15px;
}
.settings > a:hover {
  cursor: pointer;
}

.maincontainer {
  margin-top: 57px;
  min-height: 110px;
  border-bottom: 1px solid rgba(80, 79, 79, 0.637);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textareaDiv {
  position: relative;
  width: 100%;
  padding-inline: 15px;
  min-height: 60px;
  display: flex;
  align-items: center;
}
.textarea{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textarea input{
  margin-block: 10px;
  margin-left: 13%;
  border: none;
  display: none;
  outline: none;
}

.postImageContainer{
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-block: 15px;
  width: 570px;
  overflow-x: hidden; 
}
.crouselbtnDivright{
  position: absolute;
  z-index: 999;
  right: 2%;
  top: 45%;
  padding: 7px;
  border-radius: 50%;
  font-size: 16px;
  background-color: #1d9cf06a;
}
.crouselbtnDivleft{
  position: absolute;
  z-index: 999;
  left: 2%;
  top: 45%;
  padding: 7px;
  border-radius: 50%;
  font-size: 16px;
  background-color: #1d9cf078;
}
.postImageContainer button{
  position: absolute;
  top: 10px;
  right: 10px;
}
.imagediv{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}
.imagediv img{
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border-radius: 16px;
}
.showType {
  margin-left: 13%;
  color: #1d9bf0;
  font-size: 15px;
}
.emojiPicker{
  z-index: 100;
  position: absolute;
}
.textarea hr {
  margin-left: 70px;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 1px;
  outline: none;
  background-color: rgba(171, 161, 161, 0.412);
  border: none;
}
.profileDiv {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
  height: 40px;
  width: 40px;
}
.profileDiv a img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.textarea {
  width: 100%;
}
.area {
  margin-left: 60px;
  font-size: 20px;
  width: 90%;
  padding: 10px;
  color: white;
  background-color: black;
  outline: none;
  border: none;
  resize: none;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.textareaDiv > i {
  font-size: 40px;
  color: rgb(188, 186, 186);
}
.maindiv{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-between;
  padding-inline: 10px;
  position: relative;
}
.emojiDiv {
  margin-left: 13%;
  display: flex;
  gap: 10px;
}
.emojiDiv svg {
  height: 20px;
  width: 20px;
}

.emojiDiv svg:hover{
  cursor: pointer;
}
.postBtn{
  width: 80px;
  padding-block: 6px;
  color: white;
  font-size: 16px;
  background-color: #1d9bf0;
  border-radius: 50px;
  border: none;
  outline: none;

}
.emojiModal{
  position: absolute;
  width: 300px;
  height: 350px;
  top: 40px;
  overflow: hidden;
}
.emojiPicker{
  width: 100%;
  height: 100%;
  background-color: black;
}

@media screen and (max-width: 1900px) {
  .homePage {
    padding-inline: 250px;
  }
}
@media screen and (max-width: 1800px) {
  .homePage {
    padding-inline: 200px;
  }
}
@media screen and (max-width: 1700px) {
  .homePage {
    padding-inline: 150px;
  }
}
@media screen and (max-width: 1600px) {
  .homePage {
    padding-inline: 100px;
  }
}
@media screen and (max-width: 1500px) {
  .homePage {
    padding-inline: 50px;
  }
}
@media screen and (max-width: 1400px) {
  .homePage {
    padding-inline: 0px;
  }
}
@media screen and (max-width: 1090px) {
  .rightContainer {
    width: 200px;
  }
}
@media screen and (max-width: 1005px) {
  .rightContainer {
    display: none;
  }
}
