body{
    margin: 0;
    padding: 0;
}

.homePage{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    padding-inline: 300px;
}


.container{
    height: 100%;
    display: flex;
}

.leftContainer{
   width: 600px;
   height: 100vh;
   padding: 0;
   min-height: 100%;
   overflow-y: scroll;
   border-inline: 1px solid rgba(80, 79, 79, 0.637);
   position: relative;
}

.rightContainer{
   width: 400px;
   max-height: 100vh;
   overflow-y: scroll;
   color: pink;
}
.topDiv{
   position: fixed;
   width: 598px;
   height: 55px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: #000000e9;
   background-blend-mode: saturation;
   border-bottom: 1px solid rgba(80, 79, 79, 0.637);
}
.leftContainer::-webkit-scrollbar {
   width: 0px;
}
.leftSpan{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 270px;
   height: 100%;
   padding-right: 20px;
   color: white ;
}
.leftSpan:hover{
   cursor: pointer;
   transition: .3s ease;
   background-color: rgba(128, 128, 128, 0.478);
}
.rightSpan{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 270px;
   height: 100%;
   padding-right: 40px;
   color: white;
}
.rightSpan:hover{
   cursor: pointer;
   transition: .3s ease;
   background-color: rgba(128, 128, 128, 0.478);
}
.settings{
   width: 60px;
   text-align: center;
}
.settings>a{
   color: white;
   width: 70%;
   height: 100%;
   padding: 8px;
   height: 100%;
}
.settings>a:hover{
   transition: .5s ease;
   background-color:  rgba(128, 128, 128, 0.19);
   border-radius: 15px;
}
.settings>a:hover{
   cursor: pointer;
}

.maincontainer{
   margin-top: 57px;
   min-height: 120px;
   border-bottom: 1px solid rgba(80, 79, 79, 0.637);
   display: flex;
   flex-direction: column;
   width: 100%;
}

.textareaDiv{
   padding-inline: 15px;
   height: 50%;
   display: flex;
   align-items: center;
}

.textareaDiv>i{
    font-size: 40px;
    color: rgb(188, 186, 186);
}
@media screen and (max-width: 1900px) {
   .homePage{
    padding-inline: 250px;
   }
}
@media screen and (max-width: 1800px) {
   .homePage{
    padding-inline: 200px;
   }
}
@media screen and (max-width: 1700px) {
   .homePage{
    padding-inline: 150px;
   }
}
@media screen and (max-width: 1600px) {
   .homePage{
    padding-inline: 100px;
   }
}
@media screen and (max-width: 1500px) {
   .homePage{
    padding-inline: 50px;
   }
}
@media screen and (max-width: 1400px) {
   .homePage{
    padding-inline: 0px;
   }
}
@media screen and (max-width: 1090px) {
   .rightContainer{
    width: 200px;
   }
}
@media screen and (max-width: 1005px) {
   .rightContainer{
    display: none;
   }
}
