body{
    margin: 0;
    padding: 0;
}

.homePage{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    padding-inline: 300px;
}


.container{
    height: 100%;
    display: flex;
}

.leftContainer{
   position: relative;
    width: 600px;
    height: 100vh;
    padding: 0;
    min-height: 100%;
    overflow-y: scroll;
    border-inline: 1px solid rgba(80, 79, 79, 0.637);
}
.leftContainer::-webkit-scrollbar {
   width: 0px;
}

.rightContainer{
    width: 400px;
    max-height: 100vh;
    overflow-y: scroll;
    color: pink;
}

.informationDiv{
   height: 460px;
   /* border: 1px solid green; */
   overflow: hidden;
   width: 100%;
   position: relative;
}
/* left container styling*/

.topdiv{
   position: sticky;
   z-index: 99;
   background-color: rgba(0, 0, 0, 0.989);
   top: 0;
   right: 0;
   display: flex;
   width: 100%;
   height: 56px;
}

.backbtnDiv{
   display: flex;
   width: 10%;
   height: 100%;
   align-items: center;
   justify-content: center;
}

.backbtnDiv>a{
   color: white;
}
.backbtnDiv>a{
   padding: 10px;
   transition: .3s ease;
}

.backbtnDiv>a:hover{
   border-radius: 55px;
   background-color: rgba(80, 79, 79, 0.421);
   transition: .3s ease;
}

.nameDiv{
   width: 90%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

 .Name{
   font-size: 20px;
   font-weight: 700;
}

.post{
   font-size: 13px;
   color: rgba(148, 148, 148, 0.85) ;
}


/* userpfp and banner styling*/

.bannerDiv{
   position: relative;
   width: 100%;
   height: 200px;
}

.bannerDiv>img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.userPfp{
   position: absolute;
   bottom: -60px;
   left: 15px;
   width: 137px;
   height: 137px;
   background-color: pink;
   border-radius: 50%;
   border: 5px solid black;
}

.userPfp>img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}
.infoDiv{
   width: 100%;
   height: 229px;
   padding: 15px;
}
.editDiv{
   width: 100%;
   height: 68px;
   display: flex;
   justify-content: flex-end;
}

.editProfileDiv{
   width: 124px;
   height: 36px;
   text-align: center;
   border: 1px solid rgba(187, 187, 189, 0.35);
   padding-top: 5px;
   border-radius: 20px;
   text-decoration: none;
}
.editProfileDiv:hover{
   transition: .3s ease;
   background-color: rgba(99, 98, 98, 0.145);
}
.editProfileDiv>span{
   padding: 5px;
   color: white;
   text-decoration: none;
   border-radius: 10px;
}

.nameidContainer{
   display: flex;
   flex-direction: column;
}
.id{
   font-size: 15px;
   color: gray;
}

.dateOfBirth{
   padding-top: 15px;
}
.dateOfBirth>span{
   color: gray;
   font-size: 15px;
}

.fameDiv{
   margin-top: 10px;
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 15px;
}
.fameDiv>span{
   color: gray;
   font-size: 15px;
}
.fameDiv>span>p{
   display: inline-block;
   color: white;
}

.lastDiv{
   position: absolute;
   bottom: 0;
   width: 100%;
   display: flex;
   height: 53px;
   border-bottom: 1px solid rgba(80, 79, 79, 0.637);
}
.links{
   width: 20%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
  color: gray;
  text-decoration: none;
}
.links:hover{
   transition: .3s ease;
   background-color: rgba(187, 187, 189, 0.222);
}

.bottomContainer{
   height: 95%;
}

@media screen and (max-width: 1900px) {
   .homePage{
    padding-inline: 250px;
   }
}
@media screen and (max-width: 1800px) {
   .homePage{
    padding-inline: 200px;
   }
}
@media screen and (max-width: 1700px) {
   .homePage{
    padding-inline: 150px;
   }
}
@media screen and (max-width: 1600px) {
   .homePage{
    padding-inline: 100px;
   }
}
@media screen and (max-width: 1500px) {
   .homePage{
    padding-inline: 50px;
   }
}
@media screen and (max-width: 1400px) {
   .homePage{
    padding-inline: 0px;
   }
}
@media screen and (max-width: 1090px) {
   .rightContainer{
    width: 200px;
   }
}
@media screen and (max-width: 1005px) {
   .rightContainer{
    display: none;
   }
}
